<!DOCTYPE html>
<html>
<head>
    <title>Insurance Login</title>
    <link rel="stylesheet" href="/static/landing.css">
</head>
<body>

<section class="hero">
    <h1>Insurance Login</h1>

    <input id="email" placeholder="Email"><br><br>
    <input id="pass" type="password" placeholder="Password"><br><br>

    <button onclick="login()">Login</button>
</section>

<script>
function login() {
    fetch("/login/insurance", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            email: email.value,
            password: pass.value
        })
    })
    .then(r => r.json())
    .then(d => {
        if (d.error) return alert(d.error);
        window.location.href = "/insurance/dashboard";
    });
}
</script>

</body>
</html>
