<!DOCTYPE html>
<html>
<head>
    <title>Management Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Rod_of_Asclepius.svg"
     class="watermark">

<div class="container">
    <div class="card">
        <div class="quote">Health is Wealth</div>

        <select class="role">
            <option>Admin</option>
            <option>Insurance</option>
        </select>

        <input placeholder="Username / Email">
        <input type="password" placeholder="Password">

        <button>Sign In</button>
    </div>
</div>

</body>
</html>
